arviz
astropy
certifi
cftime
cycler
h5py
kiwisolver
Mako
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
netCDF4
numpy
packaging
pandas
patsy
pygpu
pymc3
pyparsing
python-dateutil
pytz
scipy
sewpy
six
Theano
tornado
tqdm
xarray
emcee
