arviz
astropy
certifi
cftime
cycler
h5py
kiwisolver
Mako
MarkupSafe
matplotlib
mkl-fft
mkl-random
netCDF4
numpy
packaging
pandas
patsy
pymc3
pyparsing
python-dateutil
pytz
scipy
six
Theano
tornado
tqdm
xarray
emcee
